html {
  height: 100%;
  font:400 62.5%/1.5 "Fira Sans", Helvetica, Arial, sans-serif;
  background: #FEFEFE;
}

body {
  font-size: 1.4em;
  color: #444;
  padding: 0;
  width: 650px;
  margin: 0 auto;
  position: absolute;
  position: static\0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1, h2, h4 {
  font-weight: 700;
}

h1 {
  font-size: 3.5em;
  font-weight: 300;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
}

h2 {
  font-size: 1.1em;
  margin-bottom: .3em;
}

h3, h4 {
  font-weight: normal;
}

h4 {
  margin: .5em 0 .3em;
}

ul {
  margin-top: 0;
}

header {
  width: 100%;
  text-align: center;
}

article {
  vertical-align: top;
  display: inline-block;
  height: 100%;
  padding: 5px 50px 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

a:hover {
  color: #BB3333;
  border-color: rgba(187, 33, 33, 0.2);
}

.media {
  text-align: center;
}

a.fa {
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  -webkit-transition: .2s;
  transition: .2s;
  border: 0;
  }
  .fa:hover {
    color: #fefefe;
}

.fa-twitter {
  color: #2daae2;
  }
  .fa-twitter:hover {
    background: #2daae2;
}

.fa-github {
  color: #555;
  }
  .fa-github:hover {
    background: #555;
}

.fa-instagram {
  color: #383838;
  }
  .fa-instagram:hover {
    background: #383838;
}

.fa-envelope-o {
  color: #da3738;
  line-height: 1.5em !important;
  }
  .fa-envelope-o:before {
    font-size: .85em;
  }
  .fa-envelope-o:hover {
    background: #da3738;
}

.fa-dribbble {
  color: #f26798;
  }
  .fa-dribbble:hover {
    background: #f26798;
}

.fa-facebook {
  color: #3b5997;
  }
  .fa-facebook:hover {
    background: #3b5997;
}

.fa-google-plus {
  color: #dd4d38;
  }
  .fa-google-plus:hover {
    background: #dd4d38;
}

.fa-skype {
  color: #00aff0;
  }
  .fa-skype:hover {
    background: #00aff0;
}


.at,
a[rel=nofollow]:not(.employer) {
  font-size: .8em;
  opacity: .5;
}

@media (max-width: 700px) {
  body {
    width: auto;
    margin: 0 auto;
    -webkit-transform: none;
    transform: none;
    position: static;
  }

  article {
    display: block;
  }
}
