html {
  height: 100%;
  font: 62.5%/1.5 "PT Serif", Georgia, "Times New Roman", serif;
  background: #FEFEFE;
}

body {
  font-size: 1.4em;
  color: #444;
  padding: 0;
  width: 700px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 150px rgba(0,0,0,.1);
}

h1 {
  font-size: 1.5em;
}

h1, h2, h4 {
  font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 1.1em;
  margin-bottom: .3em;
}

h3, h4 {
  font-weight: normal;
}

h4 {
  margin: .5em 0 .3em;
}

ul {
  margin-top: 0;
}

header {
  text-align: center;
  display: inline-block;
  width: 150px;
}

article {
  vertical-align: top;
  display: inline-block;
  height: 100%; 
  padding: 5px 25px;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

a:hover {
  color: #BB3333;
  border-color: rgba(187, 33, 33, 0.2);
}

.avatar {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  display: inline-block;
  background: #fad755;
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
  pointer-events: none;
}

.media {
  text-align: justify;
  }
  .media:after {
    display: inline-block;
    content: '';
    width: 100%;
}

a.social {
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  -webkit-transition: .2s;
  border: 0;
  }
  .social:hover {
  color: #fefefe;
}

.icon-twitter {
  color: #2daae2;
  }
  .icon-twitter:hover {
    background: #2daae2;
}

.icon-github {
  color: #555;
  }
  .icon-github:hover {
    background: #555;
}

.icon-linkedin {
  color: #006699;
  }
  .icon-linkedin:hover {
    background: #006699;
}

.icon-envelope-alt {
  color: #da3738;
  }
  .icon-envelope-alt:hover {
    background: #da3738;
}

.icon-dribbble {
  color: #f26798;
  }
  .icon-dribbble:hover {
    background: #f26798;
}

.icon-facebook {
  color: #3b5997;
  }
  .icon-facebook:hover {
    background: #3b5997;
}

.icon-google-plus {
  color: #dd4d38;
  }
  .icon-google-plus:hover {
    background: #dd4d38;
}

.at,
a[rel=nofollow] {
  font-size: .8em;
  opacity: .5;
}


@media (max-width: 700px) {
  body {
    width: auto;
    margin: 0 auto;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    position: static;
  }
  
  hgroup {
    overflow: hidden;
  }
  
  header {
    width: 100%;
  }
  
  header, article {
    display: block;
  }
  
  .avatar {
    display: none;
  }
  
  .media {
    text-align: center;
    }
    .media:after {
      content: '';
  }
}